<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="//code.jquery.com/jquery-1.11.1.js"></script>
        <title>OmegaLol</title>
        <link rel="stylesheet" href="static/styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, width=device-width, maximum-scale=1.0, minimal-ui">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script  src="{{ url_for('static', filename='js/location.js') }}"></script>
        <script src="{{ url_for('static', filename='js/varmobile.js') }}"></script>
        <script src="{{ url_for('static', filename='js/mobile.js') }}"></script>

        
    </head>
    <body>
        <div id="header">
            <h1 id="logo">
                <!--canvas width="293" height="171" style="position: absolute; width: 293px; height: 171px; margin-left: -57px; margin-top: -57px;"></canvas-->
                <a href="{{ url_for('hello_world') }}"><img src="static/logo.png" width="236" height="57" alt="OmegaTv"></a>
            </h1>
            <h2 id="tagline">
                <img src="static/tagline.png" width="220" height="57" alt="Talk to strangers anonymously!">
            </h2>
            <div id="onlinecount">
                <strong>90,000+</strong> 
                 online now
            </div>
            
            <script src="{{ url_for('static', filename='js/remove.js') }}"></script>
        </div>

        <div id="videowrapper" style="width: 353px;height: 538px;">
            <video id="othervideo" autoplay="" playsinline="playsinline" webkit-playsinline="playsinline" style="width: 353px; height: 265px; top: 0px;"></video>
            <video id="selfvideo" autoplay="" playsinline="playsinline" webkit-playsinline="playsinline"></video>
            <div id="othervideospinner" style="width: 66px; height: 66px; top: 99px; left: 143px; display: none;"></div>
            <img src="/static/dotcomlogoshadow.png" width="175" height="49" id="videologo" style="visibility: visible;zoom: 1;opacity: 0.66;position: absolute;left: 8px;bottom: 281px;">
        </div>
        
            <div class="chatbox">
                <div class="logwrapper">
                <div style="position: relative;min-height: 100%;height: 300px;overflow-y: auto;" class="chat-messages">
                    <div id="sayhi" class="logitem">
                        <p class="statuslog">
                            SAY HI Don't be SHY!
                        </p>
                    </div>
                    <span id="username"></span>
                    <ul id="messages"></ul>
                    <script src="{{ url_for('static', filename='js/removesayhi.js') }}"></script>
                </div>
                <div>
                    <form id="message-form">
                        <table class="controltable" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td>
                                    <div class="disconnectbtnwrapper newbtn">
                                        <button class="disconnectbtn" id="next" onclick="next()">
                                            NEXT
                                        </button>
                                    </div>
                                </td>
                                <td class="chatmsgcell">
                                    <div class="chatmsgwrapper">
                                        <textarea id="message" class="chatmsg disabled" cols="80" rows="3" /*disabled=""*/></textarea>
                                    </div>
                                    
                                </td>
                                <td class="sendbthcell">
                                    <div class="sendbtnwrapper">
                                        <button class="sendbtn" type="submit" id="send" onclick="send()">
                                            SEND
                                        </button>
                                    </div>
                                </td>
                                </tr>
                            </tr>
                        </table>
                    </form>

                    <script src="{{url_for('static', filename='js/hitenter.js')}}"></script>
                </div>
            </div>
        </form>
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
    </div>

    </body>

</html>